.rectangle {
  border: 1px solid #ff0000;
}

.paragraph:hover {
  cursor: text;
  /* min-height: auto; */
}

.rectangle:hover .drag-anchor {
  visibility: visible;
}

#startPoint {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blueviolet;
  transition: opacity 0.3s;
}

#startPoint:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  border-radius: 100%;
  z-index: -1;
  animation: pulse 2s infinite;
  will-change: transform;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

.drag-anchor {
  width: 15px;
  height: 15px;
  background-color: black;
  /* border: 1px solid black; */
  position: absolute;
  top: 0;
  left: 0;
  /* visibility: hidden; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1.125em;
  font-style: normal;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  line-height: 1.5;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.84);
}

blockquote,
body,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

main,
li {
  display: block;
}

strong {
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}
